.menu-icon{
  color: blue;
  opacity: 0;
  transition: opacity 0.5s;
}
.group-card {
  border-radius: 15px;
  border: darkorange 2px;
  /*border-style: solid;*/
}
.group-card:hover .menu-icon {
  opacity: 1;
}
.group-card mat-card-title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.warning-icon {
  color: darkorange;
}
.group-card mat-card-header .user-avatars {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}
.user-avatar {
  padding: 0;
  margin-left: auto;
}
.group-card mat-card-content {
  display: flex;
  gap: 15px;
}
.function-card {
  box-shadow: none !important;
}
.function-card mat-card-title {
  font-weight: normal;
}
.function-card mat-card-header {
  padding: 0;
}
mat-card-content {
  margin-top: 20px;
}
.function-card mat-icon {
  width: 40px;
  height: 40px;
  font-size: 40px;
}
